@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome System Admin  @ViewBag.Name :)</h1>

<hr style="background-color:#1a6490; height:2px" />
<div>
    <div class="container" style="width:100% ; margin-left:30px">
        <div class="jumbotron btn" style="width:150px;height:300px;background-color:rgb(37,37,38) ;float:left; margin-left:100px">
            <i class="fa fa-users" style="font-size: 80px;color: rgb(169,8,8);margin-left:-10px">

            </i>
            <br />
            <br />
            <button type="submit" class="btn btn-dark" onclick="window.location.href = '@Url.Action("PatientsView","Patient")'" style="border-radius:15px">
                Patients
            </button>
            <br />
            <p></p>
            <button class="btn btn-outline-danger btn-lg" type="button" style=" border-radius:20px ">
                @ViewBag.Patients
            </button>
        </div>
        <div class="jumbotron btn" style="width:160px;height:300px;background-color:rgb(37,37,38 ); margin-left: 5px;float:left">
            <i class="fa fa-user-md" style="font-size: 80px;color: green;">

            </i>
            <br />
            <br />
            <button type="submit" class="btn btn-dark" onclick="window.location.href = '@Url.Action("Index","Employees")'" style="border-radius:15px; margin-left:-3px">
                Employees
            </button>
            <br />
            <p></p>
            <button class="btn btn-outline-success btn-lg" type="button" style="border-radius:20px ; margin-left:-3px">
                @ViewBag.Employees
            </button>
        </div>
        <div class="jumbotron btn" style="width:180px;height:300px;background-color:rgb(37,37,38 ); margin-left: 5px;float:left">
            <i class="fa fa-database" style="font-size: 80px;color: dodgerblue">
            </i>
            <br />
            <br />
            <button type="submit" class="btn btn-dark" onclick="window.location.href = '@Url.Action("Index","UsersAdmin")'" style="border-radius:15px; margin-left:-3px">
                System Users
            </button>
            <br />
            <p></p>
            <button class="btn btn-outline-primary btn-lg" type="button" style="border-radius:20px ;">
                @ViewBag.SystemUsers
            </button>
        </div>
        <div class="jumbotron btn" style="width:170px;height:300px;background-color:rgb(37,37,38 ); margin-left: 5px;float:left ; color : white">
            <i class="fa fa-stethoscope" style="font-size: 80px;color:#f0ad4e">

            </i>
            <br />
            <br />
            <button type="submit" class="btn btn-dark" onclick="window.location.href = '@Url.Action("Index","Procedures")'" style="border-radius:15px; margin-left:-3px">
                Procedures
            </button>
            <br />
            <p></p>
            <button class="btn btn-outline-warning btn-lg" type="button" style="border-radius:20px">
                @ViewBag.Procedures
            </button>
        </div>
        <div class="jumbotron btn" style="width:150px;height:300px;background-color:rgb(37,37,38 ); margin-left: 5px;float:left">
            <i class="fa fa-ambulance" style="font-size: 80px;color: white;">

            </i>
            <br />
            <br />
            <button type="submit" class="btn btn-dark" onclick="window.location.href = '@Url.Action("SearchSupplier","Inventory")'" style="border-radius:15px; margin-left:-3px">
                Suppliers
            </button>
            <br />
            <p></p>
            <button class="btn btn-outline-light btn-lg" type="button" style="border-radius:20px">
                @ViewBag.Suppleirs
            </button>
        </div>
        <div class="jumbotron btn" style="width:150px;height:300px;background-color:rgb(37,37,38 ); margin-left: 5px;float:left">
            <i class="fa fa-shopping-basket" style="font-size: 80px;color:darkturquoise">

            </i>
            <br />
            <br />
            <button type="submit" class="btn btn-dark" onclick="window.location.href = '@Url.Action("SearchOrder","Inventory")'" style="border-radius:15px; margin-left:-3px">
                Orders
            </button>
            <br />
            <p></p>
            <button class="btn btn-outline-info btn-lg" type="button" style="border-radius:20px">
                @ViewBag.Orders
            </button>
        </div>
    </div>
    <br />
    <div class="container" style="width:100% ; margin-left:30px">
        <div class="jumbotron btn" style="width:150px;height:300px;background-color:rgb(37,37,38) ;float:left; margin-left:100px">
            <i class="fa fa-thermometer" style="font-size: 80px;color:white">

            </i>
            <br />
            <br />
            <button type="submit" class="btn btn-dark" onclick="window.location.href = '@Url.Action("Index","Ailments")'" style="border-radius:15px;">
                Ailments
            </button>
            <br />
            <p></p>
            <button class="btn btn-outline-light btn-lg" type="button" style=" border-radius:20px">
                @ViewBag.Ailments
            </button>
        </div>
        <div class="jumbotron btn" style="width:150px;height:300px;background-color:rgb(37,37,38) ;margin-left: 5px;float:left">
            <i class="fa fa-home" style="font-size: 80px;color:darkturquoise">

            </i>
            <br />
            <br />
            <button type="submit" class="btn btn-dark" onclick="window.location.href = '@Url.Action("Index","Institutes")'" style="border-radius:15px;">
                Institues
            </button>
            <br />
            <p></p>
            <button class="btn btn-outline-info btn-lg" type="button" style=" border-radius:20px">
                @ViewBag.Institutes
            </button>
        </div>
        <div class="jumbotron btn" style="width:180px;height:300px;background-color:rgb(37,37,38) ;margin-left: 5px;float:left">
            <i class="fa fa-id-card" style="font-size: 80px;color:green">

            </i>
            <br />
            <br />
            <button type="submit" class="btn btn-dark" onclick="window.location.href = '@Url.Action("Index","Medical_Aid_Scheme")'" style="border-radius:15px;">
                Medical Aid
            </button>
            <br />
            <p></p>
            <button class="btn btn-outline-success btn-lg" type="button" style=" border-radius:20px">
                @ViewBag.Medical
            </button>
        </div>
        <div class="jumbotron btn" style="width:170px;height:300px;background-color:rgb(37,37,38) ;margin-left: 5px;float:left">
            <i class="fa fa-plus" style="font-size: 80px;color: rgb(169,8,8)">

            </i>
            <br />
            <br />
            <button type="submit" class="btn btn-dark" onclick="window.location.href = '@Url.Action("Index","Medications")'" style="border-radius:15px;">
                Medications
            </button>
            <br />
            <p></p>
            <button class="btn btn-outline-danger btn-lg" type="button" style=" border-radius:20px">
                @ViewBag.Medication
            </button>
        </div>
        <div class="jumbotron btn" style="width:150px;height:300px;background-color:rgb(37,37,38) ;margin-left: 5px;float:left">
            <i class="fa fa-tasks" style="font-size: 80px;color:dodgerblue">

            </i>
            <br />
            <br />
            <button type="submit" class="btn btn-dark" onclick="window.location.href = '@Url.Action("SearchProduct","Inventory")'" style="border-radius:15px;">
                Inventory
            </button>
            <br />
            <p></p>
            <button class="btn btn-outline-primary btn-lg" type="button" style=" border-radius:20px">
                @ViewBag.Inventory
            </button>
        </div>
        <div class="jumbotron btn" style="width:150px;height:300px;background-color:rgb(37,37,38) ;margin-left: 5px;float:left">
            <i class="fa fa-credit-card" style="font-size: 80px;color:sandybrown">

            </i>
            <br />
            <br />
            <button type="submit" class="btn btn-dark" onclick="window.location.href = '@Url.Action("Index","Payment_Type")'" style="border-radius:15px;">
                Finance
            </button>
            <br />
            <p></p>
            <button class="btn btn-outline-warning btn-lg" type="button" style=" border-radius:20px">
                @ViewBag.Payments
            </button>
        </div>
    </div>
    <br />
    <div class="container" style="width:100% ;margin-left:30px">
        
        <div class="jumbotron btn" style="width:180px;height:300px;background-color:rgb(37,37,38) ;margin-left: 5px;float:left">
            <i class="fa fa-medkit" style="font-size: 80px;color:#f0ad4e">

            </i>
            <br />
            <br />
            <button type="submit" class="btn btn-dark" onclick="window.location.href = '@Url.Action("Index","Allergies")'" style="border-radius:15px;">
                Allergies
            </button>
            <br />
            <p></p>
            <button class="btn btn-outline-warning btn-lg" type="button" style=" border-radius:20px">
                @ViewBag.Allergies
            </button>
        </div>
            
    </div>
    <br />
</div>

