@model DrSavvy.Models.Appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThemeColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThemeColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFullDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFullDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.PatientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.PatientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timeslot.Timeslot_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timeslot.Timeslot_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Appointment_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
