@model IEnumerable<DrSavvy.Models.Institute>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button type="button" class="btn btn" data-toggle="modal" data-target="#addInstitute" style="border-radius:20px;color:white;background-color:#1a6490">Add Institute</button>
<button type="button" class="btn btn" style="float:right;border-radius:20px;color:white;background-color:#1a6490" onclick="window.top.location.href= '/Institute_Type/Index'">View Institute Types</button>
<hr />
<div class="input-group md-form form-sm form-1 pl-0">
    <div class="input-group-prepend" style="color:dodgerblue;">
        <span class="input-group-text" id="basic-text1" style="background-color:dodgerblue;">
            <i class="fas fa-search text-white"
               aria-hidden="true"></i>
        </span>
    </div>
    <input type="text" style="background-color:rgba(0,0,0,0.27);border-radius:20px;color:white" class="form-control fa-search " placeholder="Search here..." aria-label="Recipient's username" aria-describedby="button-addon2" id="Search">
</div>
<br />

<script src="~/Scripts/jquery-3.4.1.min.js">

</script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });

</script>
<table class="table-dark table-striped table table-hover" style="border-radius: 25px;" id="EmployeeTable">
    <tr>
        <th>
            @Html.DisplayName("Institute Name")
        </th>
        <th>
            @Html.DisplayName("Institute ContactPerson")
        </th>
        <th>
            @Html.DisplayName("Instsitute ContactNumber")
        </th>
        <th>
            @Html.DisplayName("Type Name")
        </th>
        <th scope="col">
            Modify
        </th>
        <th scope="col">
            Remove
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="Search">
            <td>
                @Html.DisplayFor(modelItem => item.Institute_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Institute_ContactPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instsitute_ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Institute_Type.Institute_Type_Name)
            </td>
            <td>
                <button type="button" class="btn btn-warning" data-toggle="modal" onclick="DisplayModal('Edit/@item.Institute_ID')">
                    <i class="fas fa-user-edit fa-lg" data-toggle="modal" data-target="#ConEdit"></i>
                    <span>
                        <strong>Modify</strong>
                    </span>
                </button>

            </td>
            <td>

                <button type="button" class="btn btn-danger" data-toggle="modal" onclick="DisplayModal('Delete/@item.Institute_ID')">
                    <i class="far fa-trash-alt fa-lg"></i>
                    <span>
                        <strong>Delete</strong>
                    </span>
                </button>
            </td>
        </tr>
    }

</table>
<iframe src="Create/" class="modal modal-lg" id="addInstitute" tabindex="-1" role="none" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="width:36%; height:70%; top:15%; left:35%;border-radius:20px;background-color:black">Your browser doesn't support iFrames.</iframe>
<iframe class="modal modal-lg" id="editInstitute" tabindex="-1" role="none" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="width:36%; top:10%; left:35%;border-radius:20px;background-color:black;overflow:hidden">Your browser doesn't support iFrames.</iframe>
<iframe class="modal modal-lg" id="DeleteInstitute" tabindex="-1" role="none" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="width:36%; height:70%; top:15%; left:35%;border-radius:20px;background-color:black">Your browser doesn't support iFrames.</iframe>
<script>
    var call;
    function DisplayModal(test) {
        document.getElementById('editInstitute').src = test;
        $("#editInstitute").modal("show");

    }

    function DisplayModal(test) {
        document.getElementById('DeleteInstitute').src = test;
        $("#DeleteInstitute").modal("show");

    }
</script>
