@model IEnumerable<DrSavvy.Models.Medical_Aid_Company>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button type="button" class="btn" data-toggle="modal" data-target="#addCompany" style="border-radius:20px;color:white;background-color:#1a6490">New Medical Aid Company</button>
<button type="button" class="btn"  onclick="window.top.location.href='/Medical_Aid_Scheme/Index'" style="border-radius:20px;color:white;background-color:#1a6490;float:right">Back to Medical Aid Companies</button>

<hr  style="background-color:white"/>
<div class="input-group md-form form-sm form-1 pl-0">
    <div class="input-group-prepend" style="color:dodgerblue;">
        <span class="input-group-text" id="basic-text1" style="background-color:dodgerblue;">
            <i class="fas fa-search text-white"
               aria-hidden="true"></i>
        </span>
    </div>
    <input type="text" class="form-control fa-search " style="background-color:rgba(0,0,0,0.27);border-radius:20px" placeholder="Search here..." aria-label="Recipient's username" aria-describedby="button-addon2" id="Search">
</div>
<br />

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });

</script>

<table class="table-dark table table-hover" style="border-radius: 25px;" id="tblCompany">
    <tr>
        <th>
            @Html.DisplayName("Compnay Name")
        </th>
        <th>
            @Html.DisplayName("Contact Person")
        </th>
        <th>
            @Html.DisplayName("Contact Number")
        </th>
        <th scope="col">
            Modify
        </th>
        <th scope="col">
            Remove
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="Search">
            <td>
                @Html.DisplayFor(modelItem => item.Company_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact_Number)
            </td>
            <td>
                <button type="button" class="btn btn-warning" data-toggle="modal" style="border-radius:20px" onclick="DisplayModal('Edit/@item.Company_ID')">
                    <i class="fas fa-user-edit fa-lg" data-toggle="modal" data-target="#ConEdit"></i>
                    <span>
                        <strong>Modify</strong>
                    </span>
                </button>

            </td>
            <td>

                <button type="button" class="btn btn-danger" data-toggle="modal" style="border-radius:20px" onclick="DisplayModal('Delete/@item.Company_ID')">
                    <i class="far fa-trash-alt fa-lg"></i>
                    <span>
                        <strong>Delete</strong>
                    </span>
                </button>
            </td>
        </tr>
    }

</table>
<iframe src="Create/" class="modal modal-lg" id="addCompany" tabindex="-1" role="none" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="width:36%; height:70%; top:15%; left:35%;border-radius:20px;background-color:black">Your browser doesn't support iFrames.</iframe>
<iframe class="modal modal-lg" id="editCompany" tabindex="-1" role="none" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="width:36%; height:70%; top:15%; left:35%;border-radius:20px;color:black">Your browser doesn't support iFrames.</iframe>
<iframe class="modal modal-lg" id="DeleteCompany" tabindex="-1" role="none" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="width:36%; height:70%; top:15%; left:35%;;border-radius:20px;background-color:black">Your browser doesn't support iFrames.</iframe>
<script>
    var call;
    function DisplayModal(test) {
        document.getElementById('editCompany').src = test;
        $("#editCompany").modal("show");

    }

    function DisplayModal(test) {
        document.getElementById('DeleteCompany').src = test;
        $("#DeleteCompany").modal("show");

    }
</script>
