@model IEnumerable<DrSavvy.ClassModels.invoicemodel>
@{
    Layout = "";
}
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/Invoice.css" rel="stylesheet" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<!------ Include the above in your HEAD tag ---------->
<div id="invoice">
    <div>
        <h1 style="text-align:center" class="invoice-id">Blood Form</h1>
    </div>

    <div class="toolbar hidden-print">
        <div class="text-right">
            <button id="printInvoice" onclick="window.print()" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
            <button onclick="window.location.href='@Url.Action("ExportXrayForm","Report")'" class="btn btn-info"><i class="fa fa-file-pdf-o"></i> Export as PDF</button>
        </div>
        <hr>
    </div>
    <div class="invoice overflow-auto">
        <div style="min-width: 600px">
            <header>
                <table class="table-borderless !important" style="background-color:none !important;">
                    <tr>
                        <td>
                            <div class="col">
                                <a target="_blank" href="https://lobianijs.com">
                                    <img width="150" height="200" class="card-img" src="~/Content/Screen Shot 2019-09-23 at 7.53.25 PM.jpg" data-holder-rendered="true" />

                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="col company-details">
                                <h2 class="name">
                                    <a target="_blank" href="https://lobianijs.com">
                                        DR MCE MC DONALD
                                    </a>
                                </h2>
                                <div>Suite 4a Faerie Glen Medical Centre,<br /> Cnr Jacqueline & Atterbury Street,<br /> Pretoria, GP</div>
                                <div>012 348 1185</div>
                                <div>mce@drsavvy.co.za</div>
                            </div>
                        </td>
                    </tr>
                </table>
            </header>
            <main>
                <div class="row contacts">
                    <div class="col invoice-to">
                        <div class="text-gray-light">Patient Details:</div>
                        <h2 class="to">@ViewBag.Name @ViewBag.Surname</h2>
                        <div>+27 (0) 79 726 2534</div>
                        <div class="email"><a href="mailto:@ViewBag.Email">@ViewBag.Email</a></div>
                    </div>
                    <div class="col invoice-details">
                        <div class="date">Date: @ViewBag.DateMade</div>
                    </div>
                </div>
                <hr />
                <!-----------------------X-Ray Form------------------------>
                <div class="container">

                    <div style="display:@ViewBag.Xrashow">
                        <h2><u>X Ray</u></h2>
                        <p>@ViewBag.XraTA</p>
                        <hr style="background-color:slategrey" />
                    </div>
                    <div style="display:@ViewBag.Sonarshow">
                        <h2><u>Sonar</u></h2>
                        <p>@ViewBag.SonarTA</p>
                        <hr style="background-color:slategrey" />
                    </div>
                    <div style="display:@ViewBag.CTshow">
                        <h2><u>CT Scan</u></h2>
                        <p>@ViewBag.CTTA</p>
                        <hr style="background-color:slategrey" />
                    </div>
                    <div style="display:@ViewBag.MRshow">
                        <h2><u>M.R</u></h2>
                        <p>@ViewBag.MRTA</p>
                        <hr style="background-color:slategrey" />
                    </div>


                    <div class="notices">
                        <div>NOTICE:</div>
                        <div class="notice"><strong>Please review form to ensure all details are correct</strong></div>
                    </div>
                </div>

            </main>
            <footer>
                Form was created on a computer and is valid without the signature and seal.
            </footer>
        </div>
        <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
        <div></div>
    </div>
</div>
