@model DrSavvy.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutCRUD.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-light" style="border-radius:15px">
    <div class="container-fluid">
        <button type="button" style="background-color:#1a6490 ; color:white; border-radius:15px" class="btn" onclick="window.location.href = '@Url.Action("Login","Account")'">
            <i class="fas fa-user"></i>
            - Login -
        </button>
        <h2 style="color:#00709e; margin-left:40px">
            -- DR Savvy Reset Password System --
        </h2>
        <div class="title" style="font-size:24px; font-weight:600; color:white">@ViewBag.Title</div>

    </div>
</nav>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr style="background-color: dodgerblue" />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
       <label>Enter Email</label>
        <div class="col-md-10">
            <span style="width:400px;">@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style ="border-radius:20px" })</span>
        </div>
        <br />
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" style="border-radius:20px ; background-color:#00709e;color:white" class="btn btn-lg" value="Reset" />
        </div>
    </div>
}

@section Scripts {
    <script>
        $(window).ready(function () {
                            Swal.fire({
                            position: 'top',
                            type: 'success',
                            title: '<span style="color:gray">Enter a Valid Email Address and we will Email you the Instructions to Follow :)',
                            showConfirmButton: false,
                            timer: 4000
                        });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
