@model DrSavvy.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit";

}

<h2>Modify System User</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr style="background-color:white" />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

            <h2>User Roles</h2>
         @foreach (var item in Model.RolesList)
            {
    <div class="[ form-group ] form-check-inline">
        <input type="checkbox" name="SelectedRole" checked="@item.Selected" value="@item.Value" class="checkbox-inline" />
        @Html.Label(item.Value, new { @class = "control-label" })
        <div class="[ btn-group ]">
            <label class="[ btn btn-primary ]">
                <span class="[ glyphicon glyphicon-ok ]"><i class="fas fa-check" style="color:white"></i></span>
                <span>

                </span>
            </label>
            <label class="[ btn btn-default table-active ]">
                @item.Value
            </label>
        </div>
    </div>
  
            }
        
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-success" /> |
                        <button class="btn btn-dark"> @Html.ActionLink("Back to List", "Index")</button>
                    </div>
                </div>
            </div>
}


@section Scripts {
    <link src="~/Scripts/jquery-3.4.1.js" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
